.comparison-table {
  display: table;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: $screen-sm-min;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  // quick reset
  thead {
    display: table-header-group;
  }
  tr {
    display: table-row;
  }

  th,
  td,
  tr {
    vertical-align: middle;
  }

  .icon-x,
  .icon-check {
    width: s(4);
    height: s(4);
  }
}

.comparison-logo {
  max-width: s(11);
}

.comparison-header,
.comparison-row {
  border-bottom: 1px solid $light;

  th,
  td {
    padding-top: s(2);
    padding-bottom: s(2);
    &:not(:last-child) {
      padding-right: s(2);
    }
    &:not(:first-child) {
      padding-left: s(2);
    }
    @include breakpoint(xs) {
      padding-right: s(2);
      padding-left: s(2);
    }
  }

  th {
    font-size: s(1.5);
  }

  td {
    text-align: left;
    @include breakpoint(sm) {
      padding-top: s(4);
      padding-bottom: s(4);
    }
  }
}

.comparison-legal {
  display: block;
  margin-top: s(1);
  font-size: s(1.5);
  color: $gray-medium;
  @include breakpoint(sm) {
    margin-top: s(2);
  }
}
