.grid {
  max-width: s(80);
  display: grid;
  grid-gap: s(4);
  margin-left: auto;
  margin-right: auto;
}

@include breakpoint(sm) {
  .grid {
    grid-gap: s(6);
  }

  .columns-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include breakpoint(md) {
  .grid {
    grid-gap: s(8);
    max-width: $screen-lg-min;
  }

  $counts: 2, 3, 4, 5;
  @each $count in $counts {
    .columns-#{$count} {
      grid-template-columns: repeat(#{$count}, 1fr);
    }
  }
}
