/* Thesis Pattern Library */

@import 'reset';

@import 'settings/settings.breakpoints';
@import 'settings/settings.color';
@import 'settings/settings.fontface';
@import 'settings/settings.helpers';
@import 'settings/settings.scale';
@import 'settings/settings.spacing';

@import 'company/type';
@import 'company/colors';
@import 'company/mixins';

@import 'tools/tool.breakpoint';
@import 'tools/tool.spacing';

@import 'structure/structure.cards';
@import 'structure/structure.carousel';
@import 'structure/structure.container';
@import 'structure/structure.grid';
@import 'structure/structure.section';

@import 'elements/element.img';
@import 'elements/element.type';

@import 'components/component.content-block';
@import 'components/component.cta-block';
@import 'components/component.list-block';
@import 'components/component.media-block';
@import 'components/component.quote-block';
@import 'components/component.title-block';

@import 'helpers/helper.color';

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
