.media-block {
  width: 100%;

  picture,
  img,
  video {
    width: 100%;
  }

  video[poster] {
    object-fit: cover;
  }

  video {
    object-fit: scale-down;
  }

  figcaption {
    margin-top: s(1);
  }
}

.media-caption,
.media-credit {
  display: block;
}

.media-credit {
  font-size: s(1.5);
  color: $gray-medium;
}
